<!-- depositeamount.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/depositeamount.css' %}">
</head>
<body>
    <head>
        <nav>
            <div class="div1">
                <h1>Central Bank</h1>
            </div>
            <div class="div2">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </div>
        </nav>
    </head>
    <main>
        <div class="div3">
            <h1 class="hone">Central Bank of India</h1>
        </div>
        <div class="div4">
            <form action="/deposite/" method="post">
                {% csrf_token %}
                <table>
                    <tr><th colspan="2">Deposite Amount</th></tr>
                    <tr><td>Account Number</td><td><input type="text" name="accno"></td></tr>
                    <tr><td>Deposite Amount</td><td><input type="text" name="amt"></td></tr>
                    <tr><td><input class="btn" type="submit" value="submit"></td><td><input class="btn" type="reset" value="clear"></td></tr>
                </table>
            </form>
            <h2>{{msg}}</h2>
        </div>
    </main>
</body>
</html>